<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Equin</title>

  <link rel="stylesheet" href="bulma.css">

  <style>
    .sticky {
      position: fixed;
      top: 0;
      width: 35%;
    }

    @media only screen and (max-width: 600px) {
      .sticky {
        width: 100%;
        /* padding-top: 15px !important; */
      }
      #myHeader {
        padding-top: 30px !important;
      }
    }
  </style>
</head>
<body>
  
  <div id="app">

    <p class="has-text-centered mt-4" v-if="loading">
      <button class="button is-loading" style="border: none;"></button>
    </p>

    <div class="container" v-show="!loading">
      <h1 class="title is-1 has-text-centered mt-2">EQUIN</h1>
      
  
      <div class="columns is-centered">
        <div class="column is-half">
          <div class="box mt-1" style="border-bottom: 3px solid hsl(171, 100%, 41%)" id="myHeader">
            <table class="is-size-5 ">
              <tr >
                <td>Product</td>
                <td>:</td>
                <td>
                  <div class="select is-small" style="margin-bottom: 5px;">
                    <select>
                      <option>RemoteWorker.id</option>
                    </select>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Bulan</td>
                <td style="width: 10px;">:</td>
                <td>
                  <div class="columns">
                    <div class="column">
                      <div class="select is-small" style="margin-bottom: 5px;">
                        <select v-model="bulan_select" @change="changeMonth">
                          <option value="1">Januari</option>
                          <option value="2">Februari</option>
                          <option value="03">Maret</option>
                          <option value="04">April</option>
                          <option value="05">Mei</option>
                          <option value="06">Juni</option>
                          <option value="07">Juli</option>
                          <option value="08">Agustus</option>
                          <option value="09">September</option>
                          <option value="10">Oktober</option>
                          <option value="11">November</option>
                          <option value="12">Desember</option>
                        </select>
                      </div>
                    </div>
                    <div class="column">
                      <div class="select is-small" style="margin-bottom: 5px;">
                        <select v-model="tahun_select" @change="changeMonth">
                          <option value="2020">2020</option>
                          <option value="2021">2021</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  
                </td>
              </tr>
              <tr>
                <td>Target</td>
                <td>:</td>
                <td><b>Rp{{ target }}</b></td>
              </tr>
              <tr>
                <td>Gross</td>
                <td>:</td>
                <td><b>Rp{{ gross }}</b> </td>
              </tr>
              <tr>
                <td>Cost</td>
                <td>:</td>
                <td><b>Rp{{ cost }}</b> <span class="tag" @click="showModal" style="cursor: pointer;">(detail)</span></td>
              </tr>
              <tr>
                <td>Nett Profit</td>
                <td>:</td>
                <td><b>Rp {{ parseFloat(nettprofit.replace(/,/g, '')) > 0 ? nettprofit : 0 }}</b></td>
              </tr>
              <tr>
                <td style="padding-right: 15px;">Completion</td>
                <td style="width: 15px;">:</td>
                <td><b>{{ percentagecompletion }}%</b></td>
              </tr>
            </table>
          </div>
          
          <div class="modal" :class="{ 'is-active': modal }">
            <div class="modal-background"></div>
            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title">Total Cost: <b>{{ cost }}</b> </p>
                <button class="delete" aria-label="close" @click="closeModal"></button>
              </header>
              <section class="modal-card-body">
                <table class="table is-fullwidth">
                  <tr v-for="data in operationalCost">
                    <td>{{ data.tipe !== 0 ? data.tipe : '' }}</td>
                    <td>{{ data.nama }}</td>
                    <td>{{ data.jumlah }}</td>
                  </tr>
                </table>
              </section>
            </div>
          </div>

          <table class="table is-fullwidth mt-4">
            <tr>
              <th>Pemegang Saham</th>
              <th>Persentase</th>
              <th>Share</th>
            </tr>
            <tr v-for="data in dashboard">
              <td>{{data.pemegangsaham}}</td>
              <td>{{data.persentase}}</td>
              <td>{{ parseFloat(data.share.replace(/,/g,'').replace('Rp', '')) > 0 ? data.share : 'Rp 0' }}</td>
            </tr>
          </table>
        </div>
      </div>
      
    </div>
  </div>
    

  <script src="vue.js"></script>
  <script src="axios.min.js"></script>
  <script>
    let app = new Vue({
      el: '#app',
      data: {
        bulan: '',
        target: '',
        gross: '',
        cost: '',
        nettprofit: '',
        percentagecompletion: '',
        dashboard: [],
        operationalCost: [],
        bukti: '',
        loading: true,
        modal: false,
        bulan_select: new Date().getMonth() + 1,
        tahun_select: '2021'
      },
      methods: {
        closeModal: function() {
          this.modal = !this.modal
        },
        showModal: function() {
          this.modal = !this.modal
        },
        changeMonth: function() {
          if(this.bulan_select === '10' & this.tahun_select === '2020') {
            this.operationalCost = []
            this.dashboard = []
            this.getJsonData(1)
          }
          else if(this.bulan_select === '11' & this.tahun_select === '2020') {
            this.operationalCost = []
            this.dashboard = []
            this.getJsonData(2)
          }
          else if(this.bulan_select === '12' & this.tahun_select === '2020') {
            this.operationalCost = []
            this.dashboard = []
            this.getJsonData(3)
          }
          else if(this.bulan_select === '1' & this.tahun_select === '2021') {
            this.operationalCost = []
            this.dashboard = []
            this.getJsonData(4)
          }
        },
        getJsonData: function(sheet) {
          console.log(sheet)
          axios.get('https://stormy-brushlands-62293.herokuapp.com/api?id=1MvFKK7njkWH9GFhHVEGFOnIJdW02DM4N2fXQxVsQXr4&sheet='+sheet+'&rows=false')
          .then(response => {
            // this.dashboard = response.data.columns;
            this.bulan = response.data.columns.bulan[0];
            this.target = response.data.columns.target[0];
            this.gross = response.data.columns.gross[0];
            this.cost = response.data.columns.cost[0];
            this.nettprofit = response.data.columns.nettprofit[0];
            this.percentagecompletion = response.data.columns.percentagecompletion[0];
            this.bukti = response.data.columns.bukti[0];

            let res = response.data.columns;
            // const dataDashboard;
            // console.log(count(response.data.columns.pemegangsaham));
            for(let i=0; i<res.pemegangsaham.length; i++) {
              if(res.pemegangsaham[i] !== '-') {
                this.dashboard.push({
                  'pemegangsaham': res.pemegangsaham[i],
                  'persentase': res.persentase[i],
                  'share': res.share[i]
                })
              }
            }

            for(let i=0; i<res.nama.filter(item => item !== 0).length; i++) {
              this.operationalCost.push({
                'tipe': res.tipe[i],
                'nama': res.nama[i],
                'jumlah': res.jumlah[i]
              })
            }

            // console.log(this.operationalCost);
            
            this.loading = false;
            // console.log(this.dashboard);
            // this.pemegangsaham = response.data.columns.pemegangsaham;
            // this.persentase = response.data.columns.persentase;
            // this.share = response.data.columns.share;
          })
        }
      },
      filters: {
        
      },
      mounted: function() {
        this.getJsonData(3)
      }
    })
  </script>
  <script>
    // When the user scrolls the page, execute myFunction
    window.onscroll = function() {myFunction()};

    // Get the header
    var header = document.getElementById("myHeader");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }
  </script>
</body>
</html>